  
  .color-example {
    color: rebeccapurple;
    background-color: #000000;
    border-color: rgb(248, 6, 6); 
    border-style: solid

  }

  .header-example {
    font-family: "Calibri";
    font-size: 40px;
    color: rgb(4, 121, 255)
  }

  .list-example {
    list-style-type: square;
    color: fuchsia
  }

  .text-example {
    font-family: Verdana;
    font-size: large;
    text-transform: capitalize;
    text-decoration: underline;
  }

  .div-example {
    background-color: rgb(142, 107, 224);
    border-color: #000000;
    border-style: dotted
  }