body { background-color: pink;
color: black;
}
h1 { border: 5px solid violet;
text-align: center;
padding: 5px; }
p {background-color: white;
width: 550px;
text-align: center;
border-radius: 20px;
padding: 5px; }
h2 { border-bottom: 2px dashed black;
width: 150px	
}
figure {margin-left: 0px;
}