* {
    box-sizing: border-box;
  }
  
  body {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    }  
  
 
  #header {
    background-color: #d69292;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
  }
  
  
  #nav {
    
    overflow: hidden;
    background: #B46363;
    border:#000000 solid 1px;

  }

  #nav a {
    float: left;
    font-weight: bold;
    display: block;
    color: #000000;
    text-align: center;
    padding: 6px 6px;
    text-decoration: none;
}
  #nav a:hover {
  color: #ff3333;
}
  
  #nav ul {
    list-style-type: none;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    padding: 0;
  }
  
    #navside {
    float: left;
	width: 20%;	
    background-color: #b88888;
	padding: 20px;
	border-right:#000000 solid 1px;
	height: 100vh;

  }

  #navside a {
    font-weight: bold;
    color: #000000;
    padding: 0;
    text-decoration: none;
	color: #3355ff;
	font-family: Verdana, sans-serif;
	font-size: 14px;
}
  #navside li {
    margin-bottom: 10px;
	padding-top: 10px;
	
  }
  
  #navside ul {
    list-style-type: none; 
    padding: 0;
	
  }
  
  #aside {
    float: left;
    width: 20%;
    background: #b88888;
    padding: 10px;
    border-left: #000000 solid 1px;
    height: 100vh;
    text-align: center;
  }

  #image {width: 230px;
    height: 350px;
    object-fit: cover;

  }
  #section {
    float: left;
    padding: 30px;
    width: 60%;
    background-color: #d19d9d;
    height: 100vh;
    
 
  }

  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  #footer {
    clear: both;
	background-color: #d6c2c2;
    padding: 5px;
    font-size: 12px;
    text-align: left;
    color: rgb(0, 0, 0);
  }
  

  @media (max-width: 600px) {
    #aside, #article{
      width: 100%;
      height: auto;
    }
  }